<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	
	<main>
		<section>
			<button>Turn On</button>
			<button>Turn Off</button>
		</section>
	</main>

</body>
</html>